<header>
  <div class="logo"> 
    <i class="fa-solid fa-guitar"></i> Musico  
    <p><i>"Feel the Beat with Musico"</i></p>  
  </div>

  <div class="header-right">
    
    <h2>Hello, <%= user.firstName %></h2>

    <!-- 3-dot menu -->
    <div class="menu-container">
      <button class="menu-btn">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>

      <div class="dropdown-menu">
        <a href="/playlist">My Playlist</a>
        <a href="/profile">Profile</a>
        <a href="/support">Support</a>
        <a href="/download">Download</a>
        <a href="/setting">Settings</a>

        <% if(user.role === "admin") { %>
          <a href="/admin">Admin Panel</a>
        <% } %>

        <hr>
        <a href="/index">Log out</a>
      </div>
    </div>

  </div>
</header>