<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musico - Welcome</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
</head>
<body>
    <header>
        <div class="logo"> 
            <i class="fa-solid fa-guitar"></i>Musico  
            <p><i>"Feel the Beat with Musico"</i></p>   
        </div>
 
        <div class="nav-buttons">
            <a href="/"><button id="profile-btn" class="btn"><i class="fa-solid fa-user"></i>Sign In</button></a>
            <a href="/signUp"><button id="SignUp-btn" class="btn"><i class="fa-solid fa-user-plus"></i>Sign Up</button></a>
        </div>
    </header>


    <section class="hero">
        <h1>Welcome to Musico</h1>
        <p>
            Dive into your own music world — create playlists, play songs, and enjoy a smooth modern UI.
        </p>
        <button class="explore-btn" onclick="window.location.href='signup.html'">Start Listening</button>
    </section>

</body>
</html>
