<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Collection</title>
    <link rel="stylesheet" href="/css/shaan.css">
    <link rel="stylesheet" href="/css/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="music-row">
        <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i>Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>

         <div class="song-card">
            <img src="" alt="Song 5" />
            <h4></h4>
            <audio class="audio">
                <source src="" type="audio/mp3" />
            </audio>
            <div class="controls">
                <button class="playPauseBtn"><i class="fas fa-play"></i></button>
                <input type="range" id="progressBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
            <button class="like-btn" onclick="toggleLike(this)"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="addToPlaylistBtn"><i class="fas fa-plus"></i> Add</button>
        </div>


    </div>

<script src="/js/Sonu.js"></script>  
<script src="/js/theme.js"></script>                 

</body>
</html>    
 



   


   